tr {
    padding: 5px;
    text-align: center;
   }

.category {
    background-color:  #e2fce2;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-left: 40%;
}

tr.headers {
    font-size: 28px;
}

div.pagination {
    font-size: 20px;
}

a {
    font-size: 40px;
}