{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
<!--{% bootstrap_javascript %}-->

<link rel="stylesheet" type="text/css" href="{% static 'food_order/style.css' %}"/>

<html>
<head>
    <meta charset="utf-8">
    <title>Menu</title>
</head>
<body>

<a href="{% url 'login' %}">LOGOUT</a><br>
<a href="{% url 'ordered_food' %}">Заказанное</a><br>
<a href="{% url 'order_food' %}">Заказать</a><br>
{% if request.user.is_superuser %}
<a href="{% url 'file_manager' %}">Файлы</a>
{% endif %}

</body>
</html>